/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

.port-overlay {
position:absolute;
bottom:20%;
left:10%;
text-align: center;
width:40%;
}

.logo-marg {
margin-left:150px;
}

@media screen and (max-width:768px) {
.logo-marg {
margin-left:75px;
}    
}

