/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

.port-overlay {
position:absolute;
bottom:20%;
text-align: center;
max-width:300px;
width:100%;
}








@media only screen 
and (min-device-width : 768px) 

 {

  .port-overlay {
    position:absolute;
    bottom:20%;
    text-align: center;
    max-width:300px;
    width:90%;
    }
}


